* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
} 

body {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: $primary-color;
	background: $primary-bg;
}

section {
	width: 100vw;
	min-height: 100vh;
}
