#showcase {
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;

	#me {
		font-family: Lora, serif;
		font-weight: 700;
		margin-left: 10vw;

		h1 {
			--delay: .3s;

			font-size: 70px;
			line-height: 80px;

			@include breakpoint(1200) {
				font-size: 50px;
				line-height: 60px;
			}

			@include breakpoint(1000) {
				font-size: 40px;
				line-height: 50px;
			}
		}

		h2 {
			font-size: 28px;
			line-height: 25px;
			margin-left: 45px;

			&:nth-child(2) {
				--delay: .6s;
			}

			&:nth-child(3) {
				--delay: .9s;
			}

			@include breakpoint(1200) {
				font-size: 24px;
				line-height: 22px;
				margin-left: 35px;
			}

			@include breakpoint(1000) {
				font-size: 22px;
				line-height: 20px;
				margin-left: 27px;
			}

			@include breakpoint(450) {
				font-size: 18px;
				line-height: 16px;
			}
		}

		&.animate h1,
		&.animate h2 {
			animation: ShowcaseTextFade .75s ease both;
			animation-delay: var(--delay);
		}

		span {
			position: relative;

			&::before {
				content: "";
				position: absolute;
				bottom: 2px;
				height: 3px;
				background: $primary-color;
			
				@include breakpoint(850) {
					height: 2px;
				}
			}
		}

		&.animate span::before {
			animation: ShowcaseSpanWidth .75s ease both;
			animation-delay: 1.3s;
		}

		@include breakpoint(850) {
			align-self: start;
		}
	}

	#portrait {
		height: 70vh;

		@include breakpoint(1000) {
			height: 55vh;
		}

		@include breakpoint(850) {
			max-width: 50vw;
			max-height: 50vh;
			height: auto;
		}
	}

	@include breakpoint(850) {
		flex-direction: column-reverse;
		align-items: end;
		justify-content: space-between;
		padding: 15vh 0;
	}
}
